<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Trace" internalLogFile="c:\temp\nlog-internal.log">

  <extensions>
    <add assembly="FredFang.NLog.Targets.MongoDB"/>
  </extensions>
  <targets async="true">
    <!--使用connectionString的例子-->
    <target xsi:type="MongoDBTarget"
            name="mongoDBTarget1"
            connectionString="mongodb://10.1.249.175:27017/mongoDBTarget1"
            collectionName="NLog${date:yyMMdd}"
            collectionMaxSize="1073741824"
            collectionMaxItems="100000000"
            includeDefaults="false">
      <field name="ln" layout="${logger}" />
      <field name="lv" layout="${level}" />
      <field name="msg" layout="${message}" />
      <field name="crt" layout="${longdate}" />
      <field name="svr" layout="${machinename}" />
      <field name="ex" layout="${exception:format=tostring}" />
      <field name="st" layout="${stacktrace}"/>
    </target>

    <!--使用connectionStringProviderType自定义获取连接字符串的例子-->
    <target xsi:type="MongoDBTarget"
            name="mongoDBTarget2"
            connectionName="mongoDBTarget2"
            connectionStringProviderType="FredFang.NLog.Targets.MongoDB.UnitTest.MongoDBConnectionStringProvider, FredFang.NLog.Targets.MongoDB.UnitTest"
            collectionName="NLog${date:yyMMdd}"
            collectionMaxSize="1073741824"
            collectionMaxItems="100000000"
            includeDefaults="false">
      <field name="ln" layout="${logger}" />
      <field name="lv" layout="${level}" />
      <field name="msg" layout="${message}" />
      <field name="crt" layout="${longdate}" />
      <field name="svr" layout="${machinename}" />
      <field name="ex" layout="${exception:format=tostring}" />
      <field name="st" layout="${stacktrace}"/>
    </target>

    <!--使用默认字段+部分自定义字段的例子-->
    <target xsi:type="MongoDBTarget"
            name="mongoDBTarget3"
            connectionName="mongoDBTarget3"
            connectionStringProviderType="FredFang.NLog.Targets.MongoDB.UnitTest.MongoDBConnectionStringProvider, FredFang.NLog.Targets.MongoDB.UnitTest"
            collectionName="NLog${date:yyMMdd}"
            collectionMaxSize="1073741824"
            collectionMaxItems="100000000"
            includeDefaults="true">
      <field name="ServerName" layout="${machinename}" />
      <field name="StackTrace" layout="${stacktrace}" />
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="mongoDBTarget1" />
    <logger name="*" minlevel="Trace" writeTo="mongoDBTarget2" />
    <logger name="*" minlevel="Trace" writeTo="mongoDBTarget3" />
  </rules>
</nlog>
